extends ../adminLayout
block content
    // Begin Page Content
    .container-fluid
        h1.heading Cahnge Password
        if errorMessage
            .alert.alert-danger=errorMessage
        if successMessage
            .alert.alert-success=successMessage
        .row
            .col-md-6
                form(method="POST" action=`changepassword/update`)#changePassword
                    div.controlForm
                        label Old Password
                        input(type="password"  name="oldPassword")
                    div.controlForm
                        label New Password
                        input(type="password"   name="newPassword")#newPassword
                    div.controlForm
                        label New Password
                        input(type="password"   name="retypeNewPassword")

                    input(type="hidden" name="_csrf" value=`${csrfToken}`)
                    input(type="submit" value ="Update").btn.btn-primary
