.loginform {
  background-color: #fff;
  width: 35rem;
  padding: 1rem;
  padding-top: 3rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.loginform h1 {
  font-size: 25px;
}

.loginform .controlForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
}

.loginform .controlForm label {
  font-size: 13px;
}

.loginform .controlForm input {
  height: 28px;
}

.loginform .loginBtn {
  background-color: #3e82ff;
  width: 8rem;
  height: 30px;
  border: none;
  color: white;
}

#addUser .controlForm {
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
}

#addUser .controlForm label {
  letter-spacing: 1px;
}

#addUser .controlForm label.error {
  margin-top: 0.4rem;
  font-size: 0.8rem;
  color: darkred;
  width: 100%;
}

#addUser .controlForm input {
  padding-left: 0.5rem;
}

#addUser .controlForm input.error {
  font-size: inherit;
  width: 100%;
  height: inherit;
}

#addUser .controlForm input.error:focus {
  outline-color: darkred;
}

#editUser .controlForm {
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
}

#editUser .controlForm label {
  letter-spacing: 1px;
}

#editUser .controlForm label.error {
  margin-top: 0.4rem;
  font-size: 0.8rem;
  color: darkred;
  width: 100%;
}

#editUser .controlForm input {
  padding-left: 0.5rem;
}

#editUser .controlForm input.error {
  font-size: inherit;
  width: 100%;
  height: inherit;
}

#editUser .controlForm input.error:focus {
  outline-color: darkred;
}

#changePassword .controlForm {
  width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
}

#changePassword .controlForm label {
  letter-spacing: 1px;
}

#changePassword .controlForm label.error {
  margin-top: 0.4rem;
  font-size: 0.8rem;
  color: darkred;
  width: 100%;
}

#changePassword .controlForm input {
  padding-left: 0.5rem;
}

#changePassword .controlForm input.error {
  font-size: inherit;
  width: 100%;
  height: inherit;
}

#changePassword .controlForm input.error:focus {
  outline-color: darkred;
}
/*# sourceMappingURL=style.css.map */